*{
    background-color: #f3f4f5

}

p{
    font-size: 18px;
    color:#757575.   
}

h1{
    font-family: arial;
    font-size: 24px;
    color:black
}

h2{
    font-family: arial;
    font-size: 24px;
    color:black
}